@import "tailwindcss";



@theme {
    --color-Main: hsl(218, 23%, 16%);
    --color-card: hsl(217, 19%, 24%);
    --color-green: hsl(150, 100%, 66%);
    --color-text-white:hsl(193, 38%, 86%);

    --font-Main:"manrope";
}


